@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.page_rotation {
  animation: rotation 20s infinite linear;
}
